.container > a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 250%;
    margin-bottom: 10rem;
}

.container > a > span  {
    color: #4C75F2;
}